@import 'src/mixins';
@import 'src/variables';

.message {
  position : fixed;
  top: $header-height;
  right: $side-gutter;
  padding: 1rem;
  border-radius: 1rem;
  width: 200px;

  background: rgba($color-negative, .95);
  color: $color-white;
  @include font-description-md;
  font-size: 1rem;

  opacity : 0;
  transition: opacity .3s ease;

  &[data-active="true"] {
    opacity: 1;
  }
}