@import 'src/variables';

@mixin description-xs() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@mixin description-sm() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

@mixin description-md() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@mixin description-md() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@mixin description-lg() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin description-xl() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}