@import 'src/variables';

@mixin header-xs() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
};

@mixin header-sm() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
};

@mixin header-md() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@mixin header-md-italic() {
  font-family: $family-inter;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;

  letter-spacing: 0.05em;
}

@mixin header-lg() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

@mixin header-lg-italic() {
  font-family: $family-inter;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

@mixin header-xl() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

@mixin header-section-number-sm() {
  font-family: $family-roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

@mixin header-section-number-md() {
  font-family: $family-roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

@mixin header-section-number-lg() {
  font-family: $family-roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 42px;
  line-height: 28px;
}