.card {
  margin-top: 20px !important;
}

.buttons {
  display: flex;
}

.button {
  margin-top: 20px;
  margin-right: 20px;
}

.search {
  margin-top: 20px;
}

.filterBlock {
  margin-top: 20px;
}

.filterTitle {
  font-weight: bold;
}

.row {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.filter {
  margin-right: 20px;
}
