@import 'src/variables';

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  cursor: pointer;
  background: $color-grey-lighten;
  border-radius : 1rem;
  padding: .25rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.option {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125em;
  text-align: center;

  flex-grow: 1;
  padding: .75rem;
  
  @media screen and (min-width: $media-desktop) {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
  }

  &[data-switch-state="true"] {
    background: $color-white;
    box-shadow: 1px 1px 21px rgba(117, 117, 117, 0.1);
    border-radius: .875rem;
  }
}