/* GREY */
$color-button-grey-default: rgba(0, 0, 0, 0.04);
$color-button-grey-hover: rgba(0, 0, 0, 0.08);
$color-button-grey-active: rgba(0, 0, 0, 0.12);
$color-button-grey-active_positive: rgba(76, 209, 131, 0.15);

/* TRANSPARENT */
$color-button-transparent-active: rgba(0, 0, 0, 0.04);

/* BACKGROUND */
$color-button-bg-primary-default: linear-gradient(90.26deg, #FB466C 0.22%, #FE5C5C 97.49%);
$color-button-bg-primary-hover: #F95454;