@import 'buttons';

$color-primary                      : #eb385f;
$color-brand-lighten: #FB5679;
$color-brand-darken                 : #D13456;
$color-negative                     : #F95454;
$color-negative-darken              : #DB4D4D;
$color-primary-button-gradient      : linear-gradient(90.26deg, #FB466C 0.22%, #FE5C5C 97.49%);

$color-background                   : #FAFAFA;
$color-white                        : #ffffff;

$color-grey-lighten-2               : #F6F6F6;
$color-grey-lighten-1               : #EAEAEA;
$color-grey-lighten                 : #EDEEF2;
$color-grey                         : #ADADAD;
$color-grey-darken                  : #686868;
$color-input-bg                     : #F5F5F5;

$color-dark                         : #333333;
$color-dark-grey                    : #757575;
$color-black                        : #000000;

$color-positive                     : #86E77C;
$color-positive-darken              : #61BC57;

$color-link: #3766A9;