@import 'src/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    //src: url($path + ".eot");
    //src: url($path + ".eot?#iefix") format("embedded-opentype"), url($path + ".woff") format("woff"),
    src: url($path + ".ttf") format("truetype");
    //src: url($path + ".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
    display: swap;
  }
};

/* INTER */
@include font-face($family-inter, 'Inter/Inter-ExtraBold', 800, normal);
@include font-face($family-inter, 'Inter/Inter-Bold', 700, normal);
@include font-face($family-inter, 'Inter/Inter-SemiBold', 600, normal);
@include font-face($family-inter, 'Inter/Inter-Medium', 500, normal);

/* WorkSans */
@include font-face($family-worksans, 'WorkSans/WorkSans-Medium', 500, normal);

/* RobotoMono */
@include font-face($family-roboto, 'RobotoMono/RobotoMono-Regular', 400, normal);
@include font-face($family-roboto, 'RobotoMono/RobotoMono-Medium', 500, normal);
@include font-face($family-roboto, 'RobotoMono/RobotoMono-MediumItalic', 500, italic);
@include font-face($family-roboto, 'RobotoMono/RobotoMono-BoldItalic', 700, italic);
