@import 'src/variables';

$height: 4rem;

.container {
  width: 100%;
  height: $height;
  z-index: $z-index-button-sticky;

  @supports (appearance:none) {
    appearance: none;
  }

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  padding: 1.375rem;

  border-radius: 1.375rem;
  color: $color-white;
  border: 2px solid $color-grey-lighten;
  box-shadow: 2px 6px 20px rgba(117, 117, 117, 0.2);
  background: linear-gradient(90deg, $color-primary -2.16%, $color-negative 82.33%);
}

.text {
  font-family: Inter;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
}

.arrow {
  position: relative;

  $color-arrow-bg: $color-white;

  & > path {
    stroke: $color-arrow-bg;
  }
}