
@mixin shadow-icon-button() {
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.1));
  @supports not(filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.1))) {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }
}
