@import 'src/variables';

/* FONTS */
/* TEXT */
$font-input-text-md-family: Inter;
$font-input-text-md-style: normal;
$font-input-text-md-weight: 500;
$font-input-text-md-size: 18px;
$font-input-text-md-height: 22px;
$font-input-text-md-spacing: normal;
@mixin font-input-text-md() {
  font-family: $font-input-text-md-family;
  font-style: $font-input-text-md-style;
  font-weight: $font-input-text-md-weight;
  font-size: $font-input-text-md-size;
  line-height: $font-input-text-md-height;
  letter-spacing: $font-input-text-md-spacing;
};

/* PRICE */
$font-input-price-sm-family: Roboto Mono;
$font-input-price-sm-style: normal;
$font-input-price-sm-weight: 500;
$font-input-price-sm-size: 22px;
$font-input-price-sm-height: 29px;
@mixin font-input-price-sm() {
  font-family: $font-input-price-sm-family;
  font-style: $font-input-price-sm-style;
  font-weight: $font-input-price-sm-weight;
  font-size: $font-input-price-sm-size;
  line-height: $font-input-price-sm-height;
};

$font-input-price-md-family: Roboto Mono;
$font-input-price-md-style: normal;
$font-input-price-md-weight: 500;
$font-input-price-md-size: 24px;
$font-input-price-md-height: 32px;
$font-input-price-md-spacing: .1em;
@mixin font-input-price-md() {
  font-family: $font-input-price-md-family;
  font-style: $font-input-price-md-style;
  font-weight: $font-input-price-md-weight;
  font-size: $font-input-price-md-size;
  line-height: $font-input-price-md-height;
  letter-spacing: $font-input-price-md-spacing;
};

$font-input-price-lg-family: Roboto Mono;
$font-input-price-lg-style: normal;
$font-input-price-lg-weight: 500;
$font-input-price-lg-size: 32px;
$font-input-price-lg-height: 42px;
$font-input-price-lg-spacing: .1em;
@mixin font-input-price-lg() {
  font-family: $font-input-price-lg-family;
  font-style: $font-input-price-lg-style;
  font-weight: $font-input-price-lg-weight;
  font-size: $font-input-price-lg-size;
  line-height: $font-input-price-lg-height;
  letter-spacing: $font-input-price-lg-spacing;
};

/* HINT */
$font-input-hint-family: Inter;
$font-input-hint-style: normal;
$font-input-hint-weight: 500;
$font-input-hint-size: 1rem;
$font-input-hint-height: 19px;
@mixin font-input-hint() {
  font-family: $font-input-hint-family;
  font-style: $font-input-hint-style;
  font-weight: $font-input-hint-weight;
  font-size: $font-input-hint-size;
  line-height: $font-input-hint-height;
};

/* END FONTS*/


/* TYPES */

/* TEXT */
$input-text-height: 58px;
$input-price-height: 58px;
$input-code-height: 74px;
$input-auth-height: 64px;
$input-card-height: 60px;



/* STATES */
/* DEFAULT */
$input-border: 1px solid $color-grey-lighten;
$input-bg-color: $color-input-bg;
$input-font-color: $color-black;
$input-content-icon-color: $color-grey-darken;
$input-placeholder-color: $color-grey-darken;

/* ERROR */
$input-error-border: 1px solid $color-negative;
$input-error-box-shadow: 0px 0px 0px 2px #F9545499;

/* HOVER */
$input-hover-box-shadow: 0px 0px 1px 4px rgba(0, 133, 255, 0.1);
$input-hover-border: 1px solid #BDD6FA;

/* FOCUS */
$input-focus-box-shadow: $input-hover-box-shadow;
$input-focus-border: 1px solid $color-link;

/* DISABLED */
$input-disabled-bg: $color-white