@import 'variables.input';

.container {
  display: flex;
  flex-flow: column nowrap;
}

.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;

  border: $input-border;
  background: $input-bg-color;

  &:hover {
    cursor: pointer;
    border: $input-hover-border;
    box-shadow: $input-hover-box-shadow;
  }

  &:focus-within {
    border: $input-focus-border;
    box-shadow: $input-focus-box-shadow;
  }

  &_Error {
    border: $input-error-border !important;
    box-shadow: $input-error-box-shadow !important;
  }

  &_Text {
    height: $input-text-height;
    padding: 11px 24px;
    border-radius: 14px;
  }

  &_Price {
    height: $input-price-height;
    padding: 3px 4px;
    border-radius: 18px;
    column-gap: 12px;
  }

  &_Code {
    height: $input-code-height;
    padding: 15px 36px;
    border-radius: 18px;
  }

  &_Auth {
    height: $input-auth-height;
    padding: 17px 32px;
    border-radius: 18px;
  }

  &_Card {
    height: $input-card-height;
    padding: 14.5px 20px;
    border-radius: 16px;
  }
}

.inputContent {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  column-gap: 1rem;

  .inputContainer_Text & {
    padding: .375rem 0;
  }

  .inputContainer_Price & {
    padding: 8px 18px 8px 8px;
  }

  .inputContainer_Code &,
  .inputContainer_Auth &,
  .inputContainer_Card & {
    justify-content: center;
    padding: 0;
  }
}

.inputContainerIcon {
  $size: 50px;
  width: 50px;
  height: 50px;
  background: $color-white;
  box-shadow: 2px 0 2px rgba(244, 225, 227, 0.3);
  border-radius: 16px;
  flex-shrink: 0;

  position: relative;
  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.inputContentLeftIcon,
.inputContentRightIcon {
  $size: 22px;
  width: $size;
  height: $size;
  flex-shrink: 0;
}

.inputContentRightIcon {
  margin-left: auto;
  color: $color-negative;

  *[path] {
    stroke: currentColor;
  }

  *[fill] {
    fill: currentColor;
  }
}

input {
  border: none;
  outline: none;
  background: none;
  @supports (appearance: none) {
    appearance: none;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.inputInstance {
  width: 100%;

  & input {
    width: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    font-style: inherit;
  }

  .inputContainer_Text & {
    @include font-input-text-md;
  }

  .inputContainer_Price & {
    @include font-input-price-md;

    &::placeholder {
      // FIXME: line-height not working for placeholder
      @include font-input-text-md;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .inputContainer_Code & {
    @include font-input-price-lg;
    letter-spacing: 1rem;

    max-width: 243px;
  }

  .inputContainer_Auth & {
    @include font-input-price-md;

    &::placeholder {
      // FIXME: line-height not working for placeholder
      @include font-input-text-md;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .inputContainer_Card & {
    width: 100%;
    text-align: center;

    @include font-input-price-sm;
  }
}

.hint {
  opacity: 0;
  padding-top: 16px;
  padding-left: 8px;
  color: $color-dark-grey;

  @include font-input-hint;
}

.hintError {
  color: $color-negative;
}

.hintActive {
  opacity: 1;
}

.label {
  @include font-input-text-md;
  padding-bottom: 8px;
  padding-left: 16px;
  color: $color-link;
}