@import 'src/variables';
@import 'src/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  height: $header-height;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: none;
  border-bottom: 4px solid #1890ff;
}

.logo {
  justify-self: center;
}

.container {
  display: flex;
}

.content {
  padding: 40px;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
}
