@import 'src/variables';
@import 'src/mixins';

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  padding : 0.75rem 1.125rem;
  background: $color-grey-lighten-2;
  color: $color-black;
  border: none;
  border-radius: .75rem;

  @supports (appearance: none) {
    appearance: none;
  }
}

.text {
  @include font-button-md();
}