@import 'variables';

.App {
  position : relative;
}

.swiper-button-next, .swiper-button-prev {
  color: $color-black !important;
}

video {
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}